::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #909;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #c2185b;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #c2185b;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #c2185b;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #c2185b;
}

::placeholder { /* Most modern browsers support this now. */
   color:    #c2185b;
}

#submitImageButton {
    width: 160px !important;
    margin-bottom: 20px;
}


.dropdown-content li>a, .dropdown-content li>span{
   color: #c2185b !important;
}

.select-wrapper input.select-dropdown {
   border-bottom: 1px solid #c2185b !important;
   color: #c2185b !important;
}

.select-wrapper .caret {
   fill: #c2185b !important;
}

.spinner-layer{
   border-color: #c2185b !important;
}

.modal-text{
   padding-bottom: 20px;
}