::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #909;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #e91e63;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #e91e63;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #e91e63;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #e91e63;
}

::placeholder { /* Most modern browsers support this now. */
   color:    #e91e63;
}

#submitImageButton {
    width: 160px !important;
    margin-bottom: 20px;
}